extends layout

block content
    .row
        .span8.offset1
            h1 Screw docs
                h3 Tired of reading endless API docs? Get at the raw data with this demo.
             a(href="/session/new", class="btn") Login with Twitter to Start
